<app-header></app-header>
<body>
  <div class="row px-5 py-3">
    <!-- Section about payments details -->
    <div class="col-sm-8 bg-dark text-white justify-content-left">
      <br>
      <p class="h5">Asientos disponibles</p>
      <br>
      <button class="btn btn-primary" (click)="ready()">Finalizar</button>
      <div class="card px-4 py-3" *ngIf=State>
        <div class="row" *ngFor="let row of arr_name">
          <div class="col" *ngFor="let col of row">
            <br>
            <button [disabled]="truth(col)" #bt type="button" class="bt" (click)="getNumber(col);bt.disabled = true;">
            <i class="material-icons">event_seat</i>
            <br>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 bg-dark text-white justify-content-right">
        <label for="Vuelo" class="form-label">Seleccione el vuelo</label>
            <select class="form-control"
                        name="nVuelo"
                        id="nVuelo"
                        [(ngModel)]="customerInFlightSearch.flightid"
                        #nVuelo = "ngModel"
                        required>
                <option *ngFor="let lista of userFlights index as i" value="{{ lista.flightid}}">
                    {{ lista.flightid}}
                </option>
            </select>
            <button class="btn btn-primary-2" (click)="setFlight()">Buscar Asientos disponibles</button>

    </div>
    <!-- Section about payments methods -->
    
  </div>
</body>
<app-footer></app-footer>


