<app-header></app-header>
<body>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-left">
      <div class="col-md-6">
        <div class="card px-5 py-3">

          <!--Section about Register users -->
          <form name="form" (ngSubmit)="f.form.valid && validateUser()" #f="ngForm">
            <h5 class="mt-3">Validación de Usuario</h5>
            <small class="mt-2 text-muted">Digite el nombre, apellido y cédula del cliente</small>
            <div class="form-input">
              <i class="material-icons">account_circle</i>
              <input type="text" class="form-control" placeholder="Nombre"
              [(ngModel)]="User.NameCustomer" name="Nombre" #name = "ngModel"
              [ngClass]="{'is-invalid':f.submitted && name.invalid}"
              required>
            </div>

            <div class="form-input">
              <i class="material-icons">person</i>
              <input type="text" class="form-control" placeholder="Apellido"
              [(ngModel)]="User.LastNameCustomer" name="Apellido" #name = "ngModel"
              [ngClass]="{'is-invalid':f.submitted && name.invalid}"
              required>
            </div>

            <div class="form-input">
              <i class="material-icons">person</i>
              <input type="number" class="form-control" placeholder="ID del Usuario"
              [(ngModel)]="User.CustomerID" name="CustomerID" #CustomerID = "ngModel"
              [ngClass]="{'is-invalid':f.submitted && name.invalid}"
              required>
            </div>

            <div class="form-input text-center">
              <button class="btn mt-4">Validar Usuario</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</body>
<app-footer></app-footer>
