<app-header></app-header>
<body>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-left">
      <div class="col-md-6">
        <div class="card px-5 py-3">

          <!--Section about Register users -->
          <form name="form" (ngSubmit)="f.form.valid && SignUpUser()" #f="ngForm">
            <h5 class="mt-3">Registro de Usuario <br> Suscríbete a AirTec YA !!!</h5>
            <small class="mt-2 text-muted">Los usuarios registrados podrán tener acceso a todas las vistas que la aplicación web puede ofrecer y más.</small>
            <div class="form-input">
              <i class="material-icons">account_circle</i>
              <input type="text" class="form-control" placeholder="Nombre"
              [(ngModel)]="nuevoUsuario.Namecustomer" name="Nombre" #name = "ngModel"
              [ngClass]="{'is-invalid':f.submitted && name.invalid}"
              required>
            </div>

            <div class="form-input">
              <i class="material-icons">person</i>
              <input type="text" class="form-control" placeholder="Apellido"
              [(ngModel)]="nuevoUsuario.Lastnamecustomer" name="Apellido" #name = "ngModel"
              [ngClass]="{'is-invalid':f.submitted && name.invalid}"
              required>
            </div>

            <div class="form-input">
              <i class="material-icons">email</i>
              <input type="text" class="form-control" placeholder="Email"
              [(ngModel)]="nuevoUsuario.Email" name="Email" #Email = "ngModel"
              [ngClass]="{'is-invalid':f.submitted && name.invalid}"
              required>
            </div>

            <div class="form-input">
              <i class="material-icons">lock</i>
              <input type="password" class="form-control" placeholder="Contraseña"
              [(ngModel)]="nuevoUsuario.Passcustomer" name="Contraseña" #Contraseña = "ngModel"
              [ngClass]="{'is-invalid':f.submitted && name.invalid}"
              required>
            </div>

            <div class="form-input">
              <i class="material-icons">call</i>
              <input type="number" class="form-control" placeholder="Telefono personal"
              [(ngModel)]="nuevoUsuario.Phone" name="Telefono" #Telefono = "ngModel"
              [ngClass]="{'is-invalid':f.submitted && name.invalid}"
              required>
            </div>

            <div class="form-input">
              <label class="form-check-label">Si es estudiantes de universidad</label>
            </div>

            <div class="form-input">
              <i class="material-icons">school</i>
              <input type="text" class="form-control" placeholder="Universidad"
              [(ngModel)]="nuevoUsuario.University" name="Universidad" #Universidad = "ngModel">
            </div>

            <div class="form-input">
              <i class="material-icons">assignment_ind</i>
              <input type="text" class="form-control" placeholder="Carnet"
              [(ngModel)]="nuevoUsuario.Studentid" name="Carnet" #Telefono = "ngModel">
            </div>

            <div class="form-input text-center">
              <button class="btn mt-4">Registrar Usuario</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</body>
<app-footer></app-footer>
