<app-header></app-header>
<body *ngIf=Status>
  <div class="row px-5 py-3 justify-content-center">
    <!-- Section about payments details -->
    <div class="col-sm-8 p-3  bg-dark text-white" id="content" #content>
      <p class="h1">TECAir - Gracias por viajar con nosotros</p>
      <div class="col mb-lg-0 mb-3">
        <p class="mb-0">Estimado: {{nameCustomer}} {{lastNameCustomer}}</p>
        <p></p>
        <p>Esta es la información del vuelo {{Flight.flightid}} que partirá de {{Flight.origin}} al destino {{Flight.destination}}</p>
      </div>
      <div class="bg-dark rounded d-flex flex-column">
        <div class="p-2 d-flex">
          <div class="col-8">Compuerta:</div>
          <div class="ml-auto">{{Flight.gate}}</div>
        </div>
        <div class="p-2 d-flex">
          <div class="col-8">Fecha y hora de salida:</div>
          <div class="datetime-local">{{Flight.departure}}</div>
        </div>
        <div class="p-2 d-flex">
          <div class="col-8">Fecha y hora de llegada:</div>
          <div class="datetime-local">{{Flight.arrival}}</div>
        </div>
        <div class="p-2 d-flex">
          <div class="col-8">Asiento No.</div>
          <div class="datetime-local">{{numAsiento}}</div>
        </div>
        <div class="border-top px-3 mx-2"></div>
      </div>
    </div>
  </div>
  <div>
    <button class="btn btn-primary" (click)="makePDF()">Imprimir Boleto</button>
    <br>
    <button class="btn btn-primary" (click)="home()">Finalizar</button>
  </div>

</body>
<app-footer></app-footer>
