<div class="container-fluid">
    <h2> Creación de Vuelos de TecAir </h2>
    <body>
    <form (submit)="submit()" [formGroup]="registerForm">
    <div class="form-group">
        <i class="bi bi-pin-map-fill">
            <label for="Origin">Origen</label>
        </i>
        <input type="text" class="form-control" formControlName="Origin">
        <div
        *ngIf="origin?.invalid && (origin?.dirty || origin?.touched)" class="alert alert-danger">
            HOLA
        </div>
    </div>
    <div class="form-group">
        <i class="bi bi-pin-map-fill">
            <label for="Destination">Destino</label>
        </i>
        <input type="text" class="form-control" formControlName="Destination">
        <div
        *ngIf="destination?.invalid && (destination?.dirty || destination?.touched)" class="alert alert-danger">
            HOLA2
        </div>
    </div>
    <div class="form-group">
        <i class="bi bi-journal-minus">
            <label for="FlightID">ID del vuelo</label>
        </i>
        <input type="text" class="form-control" formControlName="FlightID">
        <div
        *ngIf="flightID?.invalid && (flightID?.dirty || flightID?.touched)" class="alert alert-danger">
            HOLA5
        </div>
    </div>
    <div class="form-group">
        <i class="bi bi-arrow-up-square-fill">
            <label for="DepartureTime">Fecha de salida</label>
        </i>
        <input type="datetime-local" class="form-control" formControlName="DepartureTime">
        <div
        *ngIf="departureTime?.invalid && (departureTime?.dirty || departureTime?.touched)" class="alert alert-danger">
            HOLA6
        </div>
    </div>
    <div class="form-group">
        <i class="bi bi-arrow-down-square-fill">
            <label for="ArrivalTime">Fecha de llegada</label>
        </i>
        <input type="datetime-local" class="form-control" formControlName="ArrivalTime">
        <div
        *ngIf="arrivalTime?.invalid && (arrivalTime?.dirty || arrivalTime?.touched)" class="alert alert-danger">
            HOLA7
        </div>
    </div>

    <div class="form-group">
        <a class=" btn btn-primary" (click)="addStops()">Agregar escala</a>
    </div>

    <form (submit)="submit()" [formGroup]="registerForm2">
        <div formArrayName="Stops" *ngFor="let stop of stops.controls; let i = index">
            <div [formGroupName]="i" >
                <div class="form-group">
                    <div class="row">
                        <label class="col-2" align="center" [attr.for] ="'Origin' + i">Origen</label>

                        <div class="col-3">
                            <input type="text" [attr.id]="'Origin' + i" class="form-control" formControlName="Origin">
                        </div>
        
                        <label class="col-2" align="center" [attr.for] ="'Destination' + i" >Destino</label>
                        <div class="col-3">
                            <input type="text" [attr.id]="'Destination' + i" class="form-control" formControlName="Destination">
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-2" align="center" [attr.for] ="'FlightID' + i" >ID del vuelo</label>
                        <div class="col-3">
                            <input type="text" [attr.id]="'FlightID' + i" class="form-control" formControlName="FlightID">
                        </div>
        
                        <label class="col-2" align="center" [attr.for] ="'DepartureTime' + i" >Fecha de salida</label>
                        <div class="col-3">
                            <input type="datetime-local" [attr.id]="'DepartureTime' + i" class="form-control" formControlName="DepartureTime">
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-2" align="center" [attr.for] ="'ArrivalTime' + i" >Fecha de llegada</label>
                        <div class="col-3">
                            <input type="datetime-local" [attr.id]="'ArrivalTime' + i" class="form-control" formControlName="ArrivalTime">
                        </div>
        
                        <div class="col-5">
                            <button class="btn btn-danger" align="right" (click)="removeStops(i)">Eliminar escala</button>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </form>

    <button type="submit" class="btn btn-success" [disabled]="registerForm.invalid"> Enviar </button>
    </form>
    </body>
</div>