@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

div.container-fluid {
  background:url(src/assets/bg.jpg);
  box-shadow: black;
  padding: 16px;
  border: 1 px solid,black;
  min-height: 635px;
}
div.imageRef{
  background-color: #ffeba7;
  border-radius: 25px;
  box-shadow: 5px 10px #000000;
}
p.hidden{
  color:#212529;
}
body{
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
  background-color: #ffffff;  
  border-radius: 25px;
  box-shadow: 5px 10px #1f2029;
	overflow-x: hidden;
    object-fit: cover;
    background-color: #212529;
    background-size: cover;
    overflow: hidden;

  /*background:url(src/assets/bg.jpg)*/
  /*background:url(src/assets/fondo.jpg);*/
}
select{
  background-color: transparent;
  width: 300px;
  border-color: #ffeba7;
  color: #ffeba7;
  margin-left: 15px;
}
img {
max-width: cover;
max-height: cover;
}
a{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 115px;
cursor: pointer;
transition: all 200ms linear;
}
a:hover {
	text-decoration: none;
}
.link {
  color: #c4c3ca;
}
.link:hover {
  color: #ffeba7;
}
p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
}
i.bi-pin-map-fill{
  color: #ffeba7;
  margin-left: 10px;
}
i.bi-journal-minus{
  color: #ffeba7;
  margin-left: 10px;
}
i.bi-arrow-up-square-fill{
  color: #ffeba7;
  margin-left: 10px;
}
i.bi-arrow-down-square-fill{
  color: #ffeba7;
  margin-left: 10px;
}
i.fa-plane{
  color: #ffeba7;
  margin-left: 10px;
}
h2{
    font-size: 40px;
    color:rgba(42,43,56,255);
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.section{
  position: relative;
  width: 100%;
  display: flex;
}
.full-height{
  min-height: 100%;
}
.form-group{
  position: relative;
  display: block;
    margin: 0;
    padding: 0;
}
.form-style {
  padding: 13px 20px;
  padding-left: 55px;
  height: 48px;
  width: 100%;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: #c4c3ca;
  background-color: #1f2029;
  border: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.form-style:focus,
.form-style:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.material-icons{
  position: absolute;
  top: 0;
  left: 18px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  text-align: left;
  color: #ffeba7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.alert-danger{
    text-align: left;
    width: 800px;
    height: cover;
}
button{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 10px;
  border-color: rgba(42,43,56,255);
}
label{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  font-size:15px;
  color: #ffeba7;
  font-family: 'Poppins', sans-serif;
}

input{
  max-width: 300px;
  min-height: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
  margin-right: 5px;
  color:#ffeba7;
  background-color:transparent;
  border-color: #ffeba7;
}
.form-group input:-ms-input-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input::-moz-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:-moz-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input::-webkit-input-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus:-ms-input-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus::-moz-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus:-moz-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus::-webkit-input-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.btn{
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition : all 200ms linear;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #ffeba7;
  color: #102770;
  box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
}
.btn:active,
.btn:focus{
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}
.btn:hover{
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}
