<app-header></app-header>
<div class="container-fluid">
    <h2> Creación de Vuelos de TecAir </h2>
    <body>
    <form (submit)="submit()" [formGroup]="registerForm">
    <div class="row">
        <div class="col-1 col-5">
            <div class="form-group">
                <i class="bi bi-pin-map-fill">
                    <label for="origin">Origen</label>
                </i>
                <input type="text" class="form-control" formControlName="origin">
                <div
                *ngIf="origin?.invalid && (origin?.dirty || origin?.touched)" class="alert alert-danger">
                    HOLA
                </div>
            </div>
            <div class="form-group">
                <i class="bi bi-pin-map-fill">
                    <label for="destination">Destino</label>
                </i>
                <input type="text" class="form-control" formControlName="destination">
                <div
                *ngIf="destination?.invalid && (destination?.dirty || destination?.touched)" class="alert alert-danger">
                    HOLA2
                </div>
            </div>
            <div class="form-group">
                <i class="bi bi-journal-minus">
                    <label for="flightid">ID del vuelo</label>
                </i>
                <input type="text" class="form-control" formControlName="flightid">
                <div
                *ngIf="flightID?.invalid && (flightID?.dirty || flightID?.touched)" class="alert alert-danger">
                    HOLA5
                </div>
            </div>
            <div class="form-group">
                <i class="bi bi-arrow-up-square-fill">
                    <label for="DepartureTime">Fecha de salida</label>
                </i>
                <input type="datetime-local" class="form-control" formControlName="departure">
                <div
                *ngIf="departureTime?.invalid && (departureTime?.dirty || departureTime?.touched)" class="alert alert-danger">
                    HOLA6
                </div>
            </div>
            <div class="form-group">
                <i class="bi bi-arrow-down-square-fill">
                    <label for="ArrivalTime">Fecha de llegada</label>
                </i>
                <input type="datetime-local" class="form-control" formControlName="arrival">
                <div
                *ngIf="arrivalTime?.invalid && (arrivalTime?.dirty || arrivalTime?.touched)" class="alert alert-danger">
                    HOLA7
                </div>
            </div>
            <div class="form-group">
                <i class="fa fa-plane"></i>
                <label for="PlaneID">Seleccione el avión</label>
                <select class="form-control" id="planeid" name="planeid" formControlName="planeid">
                    <option *ngFor="let list of planesArray; index as i" value="{{list.planeid}}">
                        {{list.planeid}} - {{list.model}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <i class="bi bi-currency-dollar">
                    <label for="origin">Digite el precio</label>
                </i>
                <input type="number" class="form-control" formControlName="price">
                <div
                *ngIf="price?.invalid && (price?.dirty || price?.touched)" class="alert alert-danger">
                    HOLA
                </div>
            </div>
            <div class="form-group">
                <i class="bi bi-door-closed-fill">
                    <label for="origin">Digite la puerta para abordar</label>
                </i>
                <input type="number" class="form-control" formControlName="gate">
                <div
                *ngIf="price?.invalid && (price?.dirty || price?.touched)" class="alert alert-danger">
                    HOLA
                </div>
            </div>
        </div>
        <div class="col-1 col-3">
            <p class="hidden">
              a
              a
              a  
            </p>
            <div class="imageRef">
                <p>    
                </p>
                <img src="https://images.vexels.com/media/users/3/199466/isolated/preview/41cb851619a9461e199b26d76f49a257-avion-ligero-moderno.png" width="300px" height="350px">
            </div>
        </div>
    </div>
    <div class="form-group">
        <a class=" btn btn-primary" (click)="addStops()">Agregar escala</a>
    </div>

    <form (submit)="submit()" [formGroup]="registerForm2">
        <div formArrayName="Stops" *ngFor="let stop of stops.controls; let i = index">
            <div [formGroupName]="i" >
                <div class="form-group">
                    <div class="row">
                        <label class="col-2" align="center" [attr.for] ="'origin' + i">Origen</label>

                        <div class="col-3">
                            <input type="text" [attr.id]="'origin' + i" class="form-control" formControlName="origin">
                        </div>
        
                        <label class="col-2" align="center" [attr.for] ="'destination' + i" >Destino</label>
                        <div class="col-3">
                            <input type="text" [attr.id]="'destination' + i" class="form-control" formControlName="destination">
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-2" align="center" [attr.for] ="'flightid' + i" >ID del vuelo</label>
                        <div class="col-3">
                            <input type="text" [attr.id]="'flightid' + i" class="form-control" formControlName="flightid">
                        </div>
        
                        <label class="col-2" align="center" [attr.for] ="'departure' + i" >Fecha de salida</label>
                        <div class="col-3">
                            <input type="datetime-local" [attr.id]="'departure' + i" class="form-control" formControlName="departure">
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-2" align="center" [attr.for] ="'arrival' + i" >Fecha de llegada</label>
                        <div class="col-3">
                            <input type="datetime-local" [attr.id]="'arrival' + i" class="form-control" formControlName="arrival">
                        </div>
                        <label class="col-2" align="center" [attr.for] ="'planeid' + i" >Avión</label>
                        <div class="col-3">
                            <select class="form-control" [attr.id]="'planeid' + i" formControlName="planeid"> 
                                <option *ngFor="let list of planesArray; index as i" value="{{list.planeid}}">
                                    {{list.planeid}} - {{list.model}}
                                </option>
                            </select>
                        </div>
                        <div class="row">
                            <label class="col-2" align="center" [attr.for] ="'price' + i">Precio</label>

                            <div class="col-3">
                                <input type="number" [attr.id]="'price' + i" class="form-control" formControlName="price">
                            </div>

                            <label class="col-2" align="center" [attr.for] ="'gate' + i">Puerta</label>

                            <div class="col-3">
                                <input type="number" [attr.id]="'gate' + i" class="form-control" formControlName="gate">
                            </div>
                        </div>
                        
                        <div class="col-7">
                            <button class="btn btn-danger" align="right" (click)="removeStops(i)">Eliminar escala</button>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </form>

    <button type="submit" class="btn btn-success" [disabled]="registerForm.invalid"> Enviar </button>
    </form>
    </body>
</div>
<app-footer></app-footer>