<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
  <div class="section">
    <div class="container">
      <div class="row full-height justify-content-center">
        <div class="col-12 text-center align-self-center py-5">
          <h1>TECAir - Su aerolínea de confianza </h1>
          <div class="section pb-5 pt-5 pt-sm-2 text-center">
            <h6 class="mb-0 pb-3"><span>Plataforma para trabajadores </span></h6>
            <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
            <label for="reg-log"></label>
            <div class="card-3d-wrap mx-auto">
              <div class="card-3d-wrapper">
                <div class="card-front">
                  <div class="center-wrap">
                    <div class="section text-center">
                      <!-- Section about login -->
                      <form (submit)="loginUser($event)">
                        <h4  class="mb-4 pb-3">Iniciar sesión</h4>
                        <div class="form-group">
                          <input type="number" name="id" class="form-style" placeholder="ID del usuario" id="id" autocomplete="off" required>
                          <i class="material-icons">person</i>
                        </div>
                        <div class="form-group mt-2">
                          <input type="password" name="password" class="form-style" placeholder="Contraseña" id="password" autocomplete="off" required>
                          <i class="material-icons">locks</i>
                        </div>
                        <button class="btn mt-4" type="submit">Iniciar sesión</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
